{% extends 'base_layout.html' %}

{% block content %} 
  <div class="row titulo">
      <div class="titulo-texto">
          <h1>TICKET</h1>
      </div>
  </div>

  <div class="row login-status">
    <div class="col-xl-10 bienvenido">

    </div>
    <div class="col-xl-2 boton-salir">
      <a class="btn btn-primary" href="#" role="button">Salir</a>
    </div>
  </div>

  <div class="row centro">

    <div class="col producto">
      <div class="row">
        
      </div> 

    </div>

    <div class="col derecha">
      
    </div>
    
  </div>
{% endblock %}