{% extends "CORE/base.html" %}

{% block content %}
<p id="titulo_terciario">Lista empleados</p>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Nombre</td>
            <td>Apellido Paterno</td>
            <td>Apellido Materno</td>
            <td>Email</td>
            <td>Telefono</td>
            <td>Direccion</td>
            <td>Comuna</td>
            <td>departamento</td>
            <td>Cargo</td>
            <td>
                <a href="{% url 'registrar_empleado' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> agregar nuevo
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %}
            <tr>
                <td>{{empleado.nom_emp}}</td>
                <td>{{empleado.appaterno_emp}}</td>
                <td>{{empleado.apmaterno_emp}}</td>
                <td>{{empleado.email_emp}}</td>
                <td>{{empleado.tel_emp}}</td>
                <td>{{empleado.direccion_emp}}</td>
                <td>{{empleado.fk_comuna}}</td>
                <td>{{empleado.fk_departamento}}</td>
                <td>{{empleado.fk_categoria_empleado}}</td>
                <td>
                    <a href="{% url 'modificar_empleado' empleado.id_emp %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'eliminar_empleado' empleado.id_emp %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>    
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}